<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

        <meta name="referrer" content="origin">
        <meta property="og:site_name" content="Jonatha Daguerre Vasconcelos">
        <meta property="og:type" content="website">
        {{ if .Params.title }}
        <meta property="og:title" content="{{ .Params.title }}">
        {{ else }}
        <meta property="og:title" content="{{ .Title }}">
        {{ end }}
        <meta property="og:url" content="{{ .Permalink }}">
        {{ if .Description }}
        <meta property="og:description" content="{{ .Description }}">
        {{ else }}
        <meta property="og:description" content="{{ i18n "site_description" }}">
        {{ end }}
        {{ if .Params.banner }}
        <meta property="og:image" content="{{ .Site.BaseURL }}images/banner/{{ .Params.banner }}">
        {{ else }}
        <meta property="og:image" content="{{ .Site.BaseURL }}images/jdv.jpg">
        <meta property="og:image" content="{{ .Site.BaseURL }}images/banner/glider-banner.jpg">
        {{ end }}
        <meta name="twitter:card" content="summary">
        {{ if .Params.title }}
        <meta name="twitter:title" content="{{ .Params.title }}">
        {{ else }}
        <meta name="twitter:title" content="{{ .Title }}">
        {{ end }}
        {{ if .Description }}
        <meta name="twitter:description" content="{{ .Description }}">
        {{ else }}
        <meta name="twitter:description" content="{{i18n "site_description"}}">
        {{ end }}
        <meta name="twitter:url" content="http://jonatha.daguerre.com.br/">

        {{ if .Params.banner }}
        <meta name="twitter:image:src" content="{{ .Site.BaseURL }}images/banner/{{ .Params.banner }}">
        {{ else }}
        <meta name="twitter:image:src" content="{{ .Site.BaseURL }}images/jdv.jpg">
        {{ end }}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Website",
            "publisher": "Jonatha Daguerre Vasconcelos",
            "url": "{{ .Site.BaseURL }}",
            {{ if .Params.banner }}
            "image": "{{ .Site.BaseURL }}images/banner/{{ .Params.banner }}",
            {{ else }}
            "image": "{{ .Site.BaseURL }}images/jdv.jpg",
            {{ end }}
            {{ if .Description }}
            "description": "{{ .Description }}"
            {{ else }}
            "description": "{{i18n "site_description"}}"
            {{ end }}
        }
        </script>

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
    <link href="/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
    <link href="/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/styles.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ else }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
    {{ end }}


</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.BaseURL }}images/guy.jpg" alt="">
			<span class="title">{{ .Site.Params.name }}</span>
			<span class="tagline">{{ i18n "site_description" }}<br>
				<a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
                        </span>
                        {{ partial "i18nlist.html" . }}
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
