<div class="row section featured topspace">

    <h2 class="section-title"><span>{{i18n "latest_posts"}} "{{ .Lang }}"</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "posts" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center block-with-text" title={{ .Title }}>{{ .Title | truncate 20 }}</h3>
                <p>{{.Date.Format "02/01/2006"}}</p>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">{{i18n "read_more"}}</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
