.canvas{
    border: 0px solid black;
    border-collapse: collapse;
    background: #666666;
    line-height: 0;
    margin-left:auto;
    margin-right:auto;
}

.scenario{
    border: 0px solid black;
    width: auto;

}

.piece {
    border: 0px solid black;
    padding: 0px;
    width: 10px;
    height: 10px;
    padding: 0px;
}

.center {
    margin: auto;
    width: 50%;
}

.buttons {
    background: #949494;
    border: 0px solid black;
    margin: auto;
    width: 50%;
    border: 1px solid #000000;
    text-align: center;
}

.message {
    border: 0px solid black;
    border-collapse: collapse;
    background: yellow;
    text-align: center;
    color: #ff0000;
}


.info{
    text-align: center;
}


.info_title{
    color: #ff0000;
    font-size: 25px;

}

.info_value{
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
}

.title{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.scoreTitle1{
    text-align: center;
    font-weight: bolder;
    border: 0px;
    color: red;
    background: #ffffff;
    line-height: 1;
    width: 300px;
    height: 30px;
}

.scoreTitle2{
    text-align: center;
    font-weight: bolder;
    color: red;
}

.scoreNumber{
    border: 0px  solid black;
    text-align: center;
    background: #ffffff;
    line-height: 1;
    padding: 0px;
}

.scoreItem{
    border: 0px  solid black;
    text-align: center;
    background: #ffffff;
    line-height: 1;
    width: auto;
    height: 30px;
}

.scoreBoard{
    border: 0px solid red;
    text-align: center;
    background: #ffffff;
    font-size: 25px;
    line-height: 2;
    opacity: 0.8;
    color: #000000;
}

.popup {

  border: 0px solid yellow;
  text-align: center;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  width: 50%;
  height: 70%;
  position:absolute;
  display: none;

  /*margin-left:9%;*/

}

.main_body {
    /*background-image: url("../img/starfield.png");*/
    background: #404040;
    /*font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
    font-size: 20px;
    line-height: 1.4;*/
}


div#preload1 {
	background: url(../img/saveman.png) no-repeat -9999px -9999px;
	}
div#preload2 {
	background: url(../img/treasure.png) no-repeat -9999px -9999px;
	}
div#preload3 {
	background: url(../img/bg.png) no-repeat -9999px -9999px;
	}
